
$color-border: #eee;
$color-text-light: #9b9b9b;
$color-text-regular: #777;
$color-white: #fff;
$color-primary: #191919;


//colors

$font-primary: 'Poppins', serif;

@mixin font-light(){
    font-family: $font-primary;
    font-weight: 300;
}

@mixin font-regular(){
    font-family: $font-primary;
    font-weight: 400;
}

@mixin font-medium(){
    font-family: $font-primary;
    font-weight: 500;
}

@mixin font-bold(){
    font-family: $font-primary;
    font-weight: 600;
}



//entençoes e mixins

$mobile: 480px;
$tablet: 767px;

@mixin mobile{
    @media only screen and (max-width: $mobile){
        @content;
    }
}

@mixin tablet{
    @media only screen and (max-width: $tablet){
        @content;
    }
}

//devices


.vac-btn{
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 26rem;
    padding: 1.2rem 0;
    font-size: 1.4rem;
    @include font-medium();

    &.vac-btn-primary{
        background: $color-primary;
        color: $color-white;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover{
            background: lighten($color:$color-primary, $amount: 10%);
        }
    }

    &.vac-btn-alternative{
        background: $color-white;
        color: $color-primary;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover{
            background: rgba($color: $color-white, $alpha: 0.9);
        }

    }
}

//buttons


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

img{
    max-width: 100%;
    vertical-align: top;
}

body, html{
    font-size: 10px;
    @include font-regular();

}

.container{
    width: 90%;
    max-width: 117rem;
    margin: 0 auto;
}

.section-title-container{
    text-align: center;

    h2{
        font-size: 3.1rem;
        color: $color-primary;
        line-height: 3.1rem;
        margin-bottom: 1rem;

    }

    p{
        font-size: 1.6rem;
        color: $color-text-light;
        @include font-light();

    }

}

.page-section{
    padding: 9rem 0;
}

//header

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid transparent;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.bg-white{
        background: $color-white;
        border-bottom: 1px solid $color-border;
    }

    @include mobile{
        background: $color-white;
        padding: 1rem 0;
        border-bottom: 1px solid $color-border;
    }

    .menu-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 7rem;

        @include mobile{
            justify-content: center;
        }

        .logo-container{
            max-width: 15rem;
        }
        .main-menu-container{
            .main-menu{
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                @include mobile{
                    justify-content: center;
                    margin-top: 1rem;
                }

                li{
                    a{
                        @include font-light();
                        color: $color-text-light;
                        font-size: 1.4rem;
                        padding: 0 1.5rem;
                    }

                    &.active{
                        a{
                            color: $color-primary;

                        }
                    }
                }

            }
        }

    }
}


//content

.main{

    @include mobile{
        margin-top: 11.8rem;
    }

    //portada
    .portada{
        background-image: url('../img/bg-portada.jpg');
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        padding: 0;

        .portada-inner{
            padding: 29rem 0;
            text-align: center;

            @include mobile{
                padding: 20rem 0;
            }

            h1{
                font-size: 5rem;
                text-transform: uppercase;
                line-height: 5rem;
                margin-bottom: 1rem;
                color: $color-primary;

                @include mobile{
                    font-size: 3rem;
                    line-height: 3rem;
                    margin-bottom: 2rem;
                }

            }

            p{
                font-size: 2rem;
                margin-bottom: 1rem;
                @include font-light();

                @include mobile{
                    font-size: 1.6rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    //servicios
    .servicios{
        padding-top: 12rem;
        padding-bottom: 0;

        .container{
            padding-bottom: 9rem;
            border-bottom: 1px solid $color-border;
        }

        .blurbs-container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 7rem;

            .blurb{
                width: 24%;
                text-align: center;

                .icon-container{
                    margin-bottom: 2rem;

                    i{
                        font-size: 6rem;
                        color: $color-primary;
                    }
                }

                .blurb-text-container{
                    h3{
                        font-size: 2rem;
                        line-height: 2rem;
                        margin-bottom: 1rem;
                        color: $color-primary;

                    }

                    p{
                        font-size: 1.3rem;
                        line-height: 2.5rem;
                        color: $color-text-regular;

                    }
                }
            }
        }

    }

    //galeria
    .galeria{
        padding-bottom: 0;

        .images-container{
            display: flex;
            flex-wrap: wrap;
            margin-top: 7rem;

            .image{
                width: 33.33%;
                position: relative;

                .overlay{
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: $color-primary, $alpha: 0.8);
                    -webkit-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;

                    .image-info{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;

                        h3{
                            color: $color-white;
                            font-size: 2rem;
                            margin-bottom: 0.5rem;
                        }

                        p{
                            color: $color-white;
                            font-size: 1.2rem;
                        }
                    }
                }

                &:hover{
                    .overlay{
                        opacity: 1;
                    }
                }
            }
        }

    }

    //call to action
    .call-to-action{
        background: $color-primary;

        .section-title{
            color: $color-white;
            @include font-light();
        }
        
        .btn-container{
            margin-top: 4rem;
            text-align: center;
        }
    }
    //depoimentos
    .testimonios{
        background: rgba($color: $color-primary, $alpha: 0.02);

        .testimonios-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 7rem;

            .testimonio{
                text-align: center;
                background: $color-white;
                padding: 4.5rem 3rem;
                width: 26%;
                box-shadow: 1px 3px 3px rgba($color: $color-primary, $alpha: 0.08);
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover{
                    box-shadow: 2px 4px 15px 5px rgba($color: $color-primary, $alpha: 0.08);
                }

                .img-container{
                    margin-bottom: 2rem;

                    img{
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        border-radius: 50%;
                        
                    }
                }

                p{
                    color: $color-text-regular;
                    font-size: 1.4rem;
                    @include font-light();

                    &.testimonio-texto{
                        &::after{
                            content: '';
                            display: block;
                            width: 50%;
                            height: 1px;
                            background: $color-border;
                            margin: 4rem auto;
                        }
                    }

                    &.testimonio-nombre{
                        color: $color-primary;
                    }

                    &.testimonio-empresa{
                        color: $color-text-light;
                        font-size: 1.2rem;
                    }

                
                }
            }
        }
    }

    //contato
    .contacto{
        padding-bottom: 0;

        .contact-info-section{
            margin-top: 7rem;
            padding: 9rem 0;
            background-image: url('../img/bg-portada.jpg');
            background-attachment: fixed;
            background-size: cover;

            .contact-info-container{
                width: 90%;
                max-width: 76rem;
                margin: 0 auto;
                box-shadow: 1px 3px 3px rgba($color: $color-primary, $alpha: 0.08);
                padding: 7rem;
                background: $color-white;

                .contact-info-container-inner-row{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 5rem;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    .contact-info-item{
                        width: 50%;
                        padding-left: 3rem;

                        h4{
                            text-transform: uppercase;
                            font-size: 1.2rem;
                            color: $color-primary;
                            @include font-regular();
                            line-height: 2.1rem;
                        }

                        p{
                            font-size: 1.2rem;
                            color: $color-text-regular;
                            @include font-light();
                            line-height: 2.1rem;
                        }

                    }
                }
            }
        }
    }
}


//footer

footer{
    background: $color-primary;
    padding: 5rem 0;

    p{
        font-size: 1.4rem;
        color: $color-white;
        text-align: center;
        @include font-light();

    }
}